In [11]:
import mariadb
import sys
import pandas as pd
from pathlib import Path
from sqlalchemy import create_engine

connect and cursor

In [ ]:
# Connect to MariaDB
try:
    conn = mariadb.connect(
        user="db_user",
        password="db_user_passwd",
        host="192.0.2.1",
        port=3306,
        database="employees"
    )
except mariadb.Error as e:
    print(f"Error connecting to remote DB: {e}")
    sys.exit(1)

# Get Cursor
cursor = conn.cursor()

iterate over csv files

In [ ]:
# assign directory
directory = 'C:\\Users\\Landon\\Python Projects\\bitfocus\\files'
 
# iterate over files
files = Path(directory).glob('*.csv')
for file in files:
    print(file)

pandas and sqlalchemy engine - df to_sql. Table does not need to exist, appends data if it does.

In [ ]:
# import the module
# create sqlalchemy engine

# User*: app_user
# Password*: Password123!
# Host: 127.0.0.1 (localhost)
# Port: 3306
# Default database: company
engine = create_engine("mariadb+mariadbconnector://app_user:Password123!@127.0.0.1:3306/company"))
# Insert whole DataFrame into MySQL
df.to_sql('disabilities', con = engine, if_exists = 'append',index=False)

using mariadb cursor.execute create and insert

In [ ]:
disability_data = pd.read_csv(
    'C:\\Users\\Landon\\Python Projects\\bitfocus\\files\\Disabilities.csv', index_col=False, delimiter=',')

try:
    conn = mariadb.connect(host='localhost',
                           port=3306,
                           database='bitfocus',
                           user='root',
                           password='root@123')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS disability_data;')
        print('Creating table....')
# Update CREATE TABLE statement
        cursor.execute("CREATE TABLE Disabilities(
            DisabilitiesID VARCHAR(50),
            EnrollmentID INTEGER,
            PersonalID INTEGER,
            InformationDate VARCHAR(50),
            DisabilityType INTEGER,
            DisabilityResponse INTEGER,
            IndefiniteAndImpairs INTEGER,
            TCellCountAvailable VARCHAR(50),
            TCellCount VARCHAR(50),
            TCellSource VARCHAR(50),
            ViralLoadAvailable VARCHAR(50),
            ViralLoad VARCHAR(50),
            ViralLoadSource VARCHAR(50),
            AntiRetroviral VARCHAR(50),
            DataCollectionStage INTEGER,
            DateCreated VARCHAR(50),
            DateUpdated VARCHAR(50),
            UserID INTEGER,
            DateDeleted VARCHAR(50),
            ExportID INTEGER)")
        print("Table is created....")
        # INSERT INTO by df row
        for i, row in disability_data.iterrows():
            # %S is string values per. Needs to match number of columns
            sql = "INSERT INTO bitfocus.disability_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            conn.commit()
except:
    print("Error while connecting to database")

Uses csv and mariadb. Assumes table exists in DB

In [ ]:
import csv
import mariadb

conn = mariadb.connect(host='localhost',
                       port=3306,
                       database='bitfocus',
                       user='root',
                       password='root@123')
cursor = conn.cursor()

disability_data = csv.reader(file('C:\\Users\\Landon\\Python Projects\\bitfocus\\files\\Disabilities.csv'))
for row in disability_data:
    sql = "INSERT INTO bitfocus.disability_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
    cursor.execute
# close the connection to the database.
conn.commit()
cursor.close()
print "Done"

In [ ]:
# Create table
cursor.execute("CREATE TABLE Disabilities(
    DisabilitiesID VARCHAR(50),
    EnrollmentID INTEGER,
    PersonalID INTEGER,
    InformationDate VARCHAR(50),
    DisabilityType INTEGER,
    DisabilityResponse INTEGER,
    IndefiniteAndImpairs INTEGER,
    TCellCountAvailable VARCHAR(50),
    TCellCount VARCHAR(50),
    TCellSource VARCHAR(50),
    ViralLoadAvailable VARCHAR(50),
    ViralLoad VARCHAR(50),
    ViralLoadSource VARCHAR(50),
    AntiRetroviral VARCHAR(50),
    DataCollectionStage INTEGER,
    DateCreated VARCHAR(50),
    DateUpdated VARCHAR(50),
    UserID INTEGER,
    DateDeleted VARCHAR(50),
    ExportID INTEGER)")

In [ ]:
# Load table
cursor.execute(
    "INSERT INTO employees (first_name,last_name) VALUES (?, ?)", 
    (first_name, last_name)
    )

In [ ]:
conn.close()